.dice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .fours {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      margin: 5px;
    }
  }
}
