.wrestle-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2d2d2d;
  overflow: hidden;
}

.wrestle-wrapper .wrestling {
  height: 90vh;
  width: 90vh;
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrestle-wrapper .wrestling .centerline {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.wrestle-wrapper .wrestling .left-edge {
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: grey;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.wrestle-wrapper .wrestling .right-edge {
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: grey;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.wrestle-wrapper .wrestling .o-bicep {
  position: absolute;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: darkgreen;
  border-radius: 50%;
  height: 40vh;
  width: 12vh;
  left: 39%;
  bottom: 15%;
}

.wrestle-wrapper .wrestling .p-bicep {
  position: absolute;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #c83232;
  border-radius: 50%;
  height: 20vh;
  width: 10vh;
  left: 60%;
  bottom: 15%;
  z-index: 10;
}

.wrestle-wrapper .wrestling .o-three {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 55%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.wrestle-wrapper .wrestling .p-three {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 55%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.wrestle-wrapper .wrestling .p-four {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 44%;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  z-index: 1;
}

.wrestle-wrapper .wrestling .o-two {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 55%;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
  z-index: 2;
}

.wrestle-wrapper .wrestling .p-five {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 36%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 1;
}

.wrestle-wrapper .wrestling .o-one {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 55%;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  z-index: 2;
}

.wrestle-wrapper .wrestling .p-six {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 55%;
  -webkit-transform: rotate(88deg);
          transform: rotate(88deg);
}

.wrestle-wrapper .wrestling .o-zero {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 55%;
  -webkit-transform: rotate(88deg);
          transform: rotate(88deg);
}

.wrestle-wrapper .wrestling .o-four {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 45%;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

.wrestle-wrapper .wrestling .p-two {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 55%;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.wrestle-wrapper .wrestling .o-five {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 38%;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
}

.wrestle-wrapper .wrestling .p-one {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 55%;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.wrestle-wrapper .wrestling .o-six {
  position: absolute;
  background-color: green;
  left: 40%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  height: 55%;
  -webkit-transform: rotate(-88deg);
          transform: rotate(-88deg);
}

.wrestle-wrapper .wrestling .p-zero {
  position: absolute;
  left: 60%;
  bottom: 15%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 100% 100% 100% 100%;
  width: 10vh;
  height: 20vh;
  background: brown;
  height: 55%;
  -webkit-transform: rotate(-88deg);
          transform: rotate(-88deg);
}
/*# sourceMappingURL=wrestling.css.map */