@import "../Screens/NewGame/newGame.css";
@import "../Screens/Playing/playing.css";

.app {
  min-height: 100vh;
  min-width: 100%;
  background: rgb(25, 25, 25);
  color: rgb(255, 225, 140);
  font-family: Georgia, "Times New Roman", Times, serif;
}
