.pos-zero {
  height: 50vh;
  width: 100%;
  background: rgb(210, 190, 0);
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  height: 100%;
  width: 1%;
  background: crimson;
  left: 50%;
}

.horiz {
  position: absolute;
  height: 1%;
  width: 100%;
  background: crimson;
  top: 50%;
}

.zero__left-arm {
  position: absolute;
  background: black;
  height: 80%;
  width: 5%;
  left: 30%;
  transform: rotate(45deg);
  top: -15%;
  z-index: 1;
}
.zero__left-hand {
  position: absolute;
  background: black;
  height: 5vw;
  width: 5vw;
  left: 55%;
  top: 50%;
}
.zero__right-arm {
  position: absolute;
  background: grey;
  height: 95%;
  width: 5%;
  left: 35%;
  transform: rotate(-55deg);
  bottom: -25%;
  z-index: 2;
}
.zero__right-hand {
  background: white;
  position: absolute;
  height: 5vw;
  width: 5vw;
  left: 45%;
  top: 40%;
}
