@import "../../Components/Roles/roles.css";
@import "../../Components/Roll/roll.css";
@import "../../Components/Stats/stats.css";

.playing {
  width: 100%;
  height: 100%;
  .top-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;

    .gameID {
      padding-right: 5px;
    }
  }

  .game {
    display: flex;
    height: 90vh;
    .play-station {
      display: flex;
      width: 25vw;
      flex-direction: column;
    }
  }
}
